.login-body{
    background: #f0f2f5;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-card{
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    box-sizing: border-box;
}
.login-card button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.login-card input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: #ccc;
}
.navbar{
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: auto;
    padding: 8px 12px;
    padding: 10px;
    border-radius: 6px;
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    gap:8px;
}
.smallbtn{
    padding: 6px 10px;
    font-size: 14px;

}